/* @@@@@@@@@@( Responsiveness )@@@@@@@@@@ */
@media (max-width: 991px){

    header,header.sticky{
        padding: 10px 20px;
    }

    header .navigation,
    header.sticky .navigation{
        display: none;
    }

    header .nav_toggler,
    header.sticky .nav_toggler{
        background-color: #ff0157;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.3em;
        color: white;
        transition: 0.5s;
    }

    header .navigation.active,
    header.sticky .navigation.active{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }

    header .navigation li a,
    header.sticky .navigation li a{
        text-decoration: none;
        color: black;
        margin-left: 0;
        font-size: 1.5em;
    }

    .home .content h2 {
        font-size: 3em;
        color: white;
    }

    section {
        padding: 35px;
    }

    .row {
        flex-direction: column;
    }

    .row .col_6 {
        width: 100%;
        margin-right: 0;
    }

    .row .col_6 p{
        margin-bottom: 10px;
    }

    .row .col_6 .img_box {
        height: 300px;
    }

    .content .card .card_img {
        height: 250px;
    }

    .menu .content .card {
        width: 250px;
    }

    .title {
        text-align: center;
    }

    .title_text{
        text-align: center;
        font-size: 1.8em;
        line-height: 1.5em;
        margin-top: 50px;
    }

    .testimonials .content .card {
        width: 300px;
        padding: 15px;
    }

    .testimonials .content .card_img {
        width: 100px;
        height: 100px!important;
    }


}